@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgLight: #508991;
  --bgLight2: #9ebcc0;
  --btn: #09C38E;
  --text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
   --bgDark: #172A3A;
   --btnDark: #004346;
   --textDark: white;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  background-color: var(--bgLight);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}